<div class="task-dialog">
  <div class="task-dialog-content">
    <div class="task-dialog-header">
      <mat-checkbox
        [checked]="task.done"
        (change)="setTaskDone($event.checked)"
        matTooltip="Marquer comme terminé"
      ></mat-checkbox>
      <div class="task-title">{{ task.title }}</div>
    </div>

    <div class="due-date">
      <form class="due-date-form" [formGroup]="dueDateForm">
        <label>Date limite</label>
        <br />
        <input type="date" (change)="changeDueDate()" formControlName="date" />
      </form>
    </div>

    <div class="description">
      <div class="task-label-title">Description</div>
      <textarea
        type="text"
        disabled
        [value]="task.description"
        placeholder="Ajoutez une description"
      ></textarea>
    </div>
  </div>

  <div class="right-panel">
    <div>Actions</div>
    <button mat-flat-button>Membre</button>
    <button mat-flat-button>Tag</button>
    <button mat-flat-button>Checklist</button>
    <button mat-flat-button (click)="deleteTask()">Supprimer</button>
  </div>
</div>
