<div id="register">
  <div class="register-title">Inscription</div>
  <form class="register-form">
    <mat-form-field class="form-field">
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput placeholder="Votre nom dutilisateur" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input type="password" matInput placeholder="Votre mot de passe" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirmer le mot de passe</mat-label>
      <input type="password" matInput placeholder="Votre mot de passe" />
    </mat-form-field>

    <button class="register-form-btn" type="submit" mat-flat-button>
      S'Inscrire
    </button>
  </form>

  <hr class="separator" />

  <a href="/login">Déjà un compte ? Connectez-vous !</a>
</div>
