<div id="content">
  <app-header [user]="user"></app-header>

  <div class="board">
    <div class="board-infos">
      <div class="board-title">
        @if (hideUpdateBoardForm) {
        {{ board.name }}
        } @else {
        <form class="update-board-form" [formGroup]="boardForm">
          <input type="text" formControlName="name" />
          <button type="submit" (click)="updateBoard()">Valider</button>
        </form>
        }
      </div>

      <div class="board-users">
        @for (user of board.users; track $index) {
        <span [matTooltip]="user.username">
          {{ user?.username?.substr(0, 2)?.toUpperCase() }}
        </span>
        } @if (user?.idUser === board.users?.at(0)?.idUser) {
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          class="board-card-menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openAddUserDialog()">
            Ajouter un membre
          </button>
          <button mat-menu-item (click)="setHideUpdateBoardForm(false)">
            Modifier
          </button>
        </mat-menu>
        }
      </div>
    </div>

    <div class="task-lists">
      @for (list of board.tasklists; track $index) {
      <app-tasklist
        dndDropzone
        dndEffectAllowed="move"
        (dndDrop)="onDrop($event, list)"
        (onTasklistDelete)="deleteTaskList($event)"
        [tasklist]="list"
      ></app-tasklist>
      } @if (hideNewListForm) {
      <button mat-button (click)="setHideNewListForm(false)">
        <i class="material-icons">add</i>
        <span>Ajouter une autre liste</span>
      </button>
      } @else {
      <form class="create-tasklist-form" [formGroup]="tasklistForm">
        <input
          matInput
          type="text"
          placeholder="Nom de liste"
          formControlName="name"
        />

        <div class="create-tasklist-form-btn">
          <button type="submit" (click)="createTasklist()">Valider</button>
          <button mat-button (click)="setHideNewListForm(true)">
            <i class="material-icons">cancel</i>
          </button>
        </div>
      </form>
      }
    </div>
  </div>
</div>
