<div id="content">
  <app-header [user]="user"></app-header>

  <div class="board">
    <div class="board-infos">
      <div class="board-title">{{ board.name }}</div>
    </div>

    <div class="task-lists">
      @for (list of board.tasklists; track $index) {
      <app-tasklist
        (onTasklistDelete)="deleteTaskList($event)"
        [tasklist]="list"
      ></app-tasklist>
      } @if (hideNewListForm) {
      <button mat-button (click)="setHideNewListForm(false)">
        <i class="material-icons">add</i>
        <span>Ajouter une autre liste</span>
      </button>
      } @else {
      <form class="create-tasklist-form" [formGroup]="tasklistForm">
        <input
          matInput
          type="text"
          placeholder="Nom de liste"
          formControlName="name"
        />

        <div class="create-tasklist-form-btn">
          <button type="submit" (click)="createTasklist()">Valider</button>
          <button mat-button (click)="setHideNewListForm(true)">
            <i class="material-icons">cancel</i>
          </button>
        </div>
      </form>
      }
    </div>
  </div>
</div>
