/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

textarea,
input {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error-msg {
  color: rgb(219, 0, 0);
}

#content {
  background-color: #1d2125;
  height: 100%;
  color: rgb(184, 184, 184);
}
