.boards {
  align-items: center;
  margin-top: 30px;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.board-card {
  font-size: 20px;
  background-color: #adb2bb0f;
  border: 0px;
  border-radius: 5px;
}

.board-card a {
  text-decoration: none;
  color: #b6c2cf;
}

.board-card a:hover {
  background-color: #aaafb80f;
}

.board-card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 175px;
  height: 75px;
}

.board-card-menu {
  position: absolute;
  top: 5px;
  right: 5px;
}
