<div id="content">
  <app-header [user]="user"></app-header>

  <div class="boards">
    @for (board of boards; track $index) {
    <mat-card class="board-card" appearance="outlined">
      <mat-card-content class="board-card-content">
        <span>{{ board.name }}</span>
        @if (board.users?.at(0)?.idUser === user?.idUser) {
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          class="board-card-menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deleteBoard(board.idBoard)">
            <span>Supprimer</span>
          </button>
        </mat-menu>
        }
      </mat-card-content>
    </mat-card>
    } @empty {
    <div>Aucun tableau</div>
    }
    <button mat-button (click)="openCreateBoardDialog()">
      <i class="material-icons">add</i>
    </button>
  </div>
</div>
